body{
text-align: center;       
}

#h1{ 
font-size: Bold;    
}

#firstp{
font-size: 20;    
}

#butt_1{
    font-size: 18;
}

#secondp{
    font-size: 20;
}
#arrowp{
    font-size:15;
}